.header__toolbar {
    margin-right: 5%;
    margin-top:1%;
    z-index:4;
    .barreDeRecherche{
        float:left;
        margin-top:-50px;
        margin-right:20px;
    }
    img{
        width:40px;
    }
}