.form__group {
    margin: 50px 0px;
    width:100%;
    input {
        padding: 5px;
        height: 30px;
        border-radius: 8px;
        transition: 0.3s all;
        width: 100%;
        background-color:rgb(66, 61, 61);
        &::placeholder {
            color: grey;
        }
        &:focus {
            border-width: 2px;
            border-color: black;
            outline: none;
            transition: 0.3s all;
        }
    }
}
